@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root {
    --color-links: rgb(223, 65, 41);
    --color-rocket:rgb(11, 11, 39)
    ;
}

*{
    margin: 0;
    padding: 0;
    border: 0;

}

body {
    background: rgb(7, 7, 19);
    font-family: 'Roboto', sans-serif;    
    color: whitesmoke
}

header{
    padding: 16px;
    border-bottom: 1px solid #333;
}

.links{
    text-align: center;
}

.links a{
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}

.links a:hover{
    color: var(--color-links);
    transition: color 200ms;
}

#Wrapper{
    text-align: center;
    padding: 32px;
}

#Wrapper img{
    border-radius: 50%;
    border: 3px solid #1b1d27;
    height: 300px;
}
#Wrapper h1{
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}
#Wrapper h2{
    font-size: 26px;
    line-height: 36px;
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 8px;
    opacity: 0.8;
}
#Wrapper ul{
    list-style: none;
    line-height: 24px;
}
#links-footer{
    margin-bottom: 10px;
}
#links-footer a{
    border-bottom: 1px solid var(--color-links);
    
}

/* CARDS */
.cards{
    max-width: 1200px;
    margin: 75px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    height: 100%;
    
}

.card{
    background-color: var(--color-rocket);
    filter: brightness(90%);
    cursor: pointer;

}
.card:hover{
    border: 5px solid rgb(16, 3, 63);
    transition: 400ms;
}


.card__image-container{
    width: auto;
    height: 360px;
}

.card__image-container img{
    width: 300px;
    height: 200px;
    padding: 20px;
    margin-left: 30px;
    
}
.card__content,
.card__info{
    padding: 12px;
    text-align: center;
}

.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
  
.card__price {
    background-color: var(--color-rocket);
    filter: brightness(80%);
    padding: 5px 15px;
    border-radius: 25px;
    text-align: center;
  }


















.modal-overlay{
    background-color: rgba(0,0,0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    
    
}

.modal{
    background-color: black;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}
.modal .close-modal{
    color: white;
    position: absolute;
    right: 3px;
    top: 3px;
    cursor:pointer;
}

/* MODAL.ACTIVE */
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

iframe{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%
    
}
